*{
  color: white;
  text-decoration: none;
}
.imagen-detalle{
    max-width:100%;
    max-height:100%;
}

.container-imagen-detalle{
    object-fit: contain;
    width: 400px;
    height: auto;
    cursor: zoom-in;
    display: flex;
    flex-direction: column;
}

.item-detail{
    width: 1000px   ;

    display: flex;
    align-self: center;
    justify-content: space-around;
    border: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}


.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
 
}

.detail-left{
  
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    width: auto;
   
}


.detail-rigth{
 
    align-items: center;
    justify-content: space-between;
    
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.BotonFinalizarCompra{
    background-color: yellow;
    color: black;
    border-radius: 5px;
    margin: 10px;
    height: 30px;
    border: 0;
    text-decoration: none;
}
.BotonFinalizarCompra:hover{
    background-color: rgba(255, 255, 0, 0.384)
}