.itemCount{

    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.cantidad{

    display: flex;
    justify-content: space-between;
   
}
.cantidad p{
    font-size: 22px;
    margin: 0;
}
.cantidad button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
    color: black;
    font-size: 22px;

}
.cantidad button:hover{
    background-color: rgba(255, 255, 0, 0.507);
}
.agregarAlCarrito button{
    height: 35px;
    width: auto;
    border-radius:5px;
    background-color: yellow;
    color: black;
    margin-top: 30px;

}
.agregarAlCarrito button:hover{
    background-color: rgba(255, 255, 0, 0.507);
    
   }